<ng-container>
    <td class="vert-aligned pl-2">{{address.street}}</td>
    <td class="vert-aligned pl-2">{{address.ward}}</td>
    <td class="vert-aligned pl-2">{{address.district}}</td>
    <td class="vert-aligned pl-2">{{address.city}}</td>
    <td class="vert-aligned pl-2">{{address.country}}</td>
    <td class="vert-aligned">
        <a [routerLink]="[ '/address', address.id ]">
            <button type="button" class="btn btn-default mr-2" aria-label="Edit">
                <fa name="pencil"></fa>
            </button>
        </a>
        <button (click)="delete()" type="button" class="btn btn-default" aria-label="Delete">
            <fa name="trash-o"></fa>
        </button>
    </td>
</ng-container>