<div class="app-container">
    <app-header></app-header>
    <div class="w-100">
        <div class="inner-container row">
            <div class="half col col-12 col-lg-8 p-4">
                <app-address-container></app-address-container>
            </div>
            <div class="half col col-12 col-lg-4 pl-0 pr-5 pb-5 pt-3">
                <div class="position-relative h-100">
                    <app-map></app-map>
                </div>
            </div>
        </div>
    </div>
</div>