.row {
    overflow: visible !important;
}

.vert-aligned {
    vertical-align: middle;
}

agm-map {
    height: 400px;
    top: 64px;
    left: 0;
    width: 100%;
    z-index: 1;
}

.autosuggest {
    top: 64px;
    left: 0;
    width: 50%;
    z-index: 2;
}

.card-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.25rem;
}