<div *ngIf="address">
    <div class="row">
        <div class="col-md-6">
            <form #addressForm="ngForm">
                <div class="form-group col-lg-11">
                    <label>Street</label
                    ><small class="d-inline-block ml-2 text-muted text-danger"
                        >Required</small
                    >
                    <input
                        name="street"
                        #street="ngModel"
                        [ngClass]="{
                            'form-control': true,
                            '': (street.dirty || trySaved) && !address.street
                        }"
                        (blur)="refreshMap()"
                        spellcheck="false"
                        [(ngModel)]="address.street"
                        placeholder="Street"
                    />
                </div>
                <div class="form-group col-lg-11" *ngIf="countries.length">
                    <label>Country</label>
                    <ng-select
                        name="country"
                        bindValue="code"
                        bindLabel="name"
                        [items]="countries"
                        [(ngModel)]="address.countryCode"
                        [clearable]="false"
                        (change)="onCountryChanged($event)"
                    >
                        >
                    </ng-select>
                </div>
                <div class="form-group col-lg-11">
                    <label>City</label>
                    <ng-select
                        name="city"
                        [items]="cities"
                        [(ngModel)]="address.city"
                        [clearable]="false"
                        (focus)="loadCities()"
                        (change)="onCityChanged($event)"
                    >
                        >
                    </ng-select>
                </div>
                <div class="form-group col-lg-11">
                    <label>District</label>
                    <ng-select
                        name="district"
                        [items]="districts"
                        [(ngModel)]="address.district"
                        [clearable]="false"
                        (focus)="loadDistricts()"
                        (change)="onDistrictChanged($event)"
                    >
                        >
                    </ng-select>
                </div>
                <div class="form-group col-lg-11">
                    <label>Ward</label>
                    <ng-select
                        name="ward"
                        [items]="wards"
                        [(ngModel)]="address.ward"
                        [clearable]="false"
                        (focus)="loadWards()"
                        (change)="onWardChanged($event)"
                    >
                        >
                    </ng-select>
                </div>
                <div class="form-group col-lg-11">
                    <button
                        (click)="save()"
                        type="button"
                        class="btn btn-default"
                        aria-label="Edit"
                    >
                        <fa name="save"></fa> Save
                    </button>
                </div>
                <div class="mt-2">
                    <div>
                        <div *ngIf="!streetValidated">
                            Street is always required.
                        </div>
                        <div *ngIf="!wardDistrictValidated">
                            If "city" is present, then "ward" and "district" are
                            not required.
                        </div>
                        <div *ngIf="!wardDistrictValidated">
                            If "city" is not present, then both "ward" and
                            "district" are required.
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="position-relative">
                <app-map
                    *ngIf="map$"
                    (onAddressUpdated)="onAddressUpdated($event)"
                    (onLoaded)="onLoaded($event)"
                    (onMapUpdated)="onMapUpdated($event)"
                    (onMarkerUpdated)="onMarkerUpdated($event)"
                    [marker]="marker"
                    [map$]="map$"
                    [address]="address"
                ></app-map>
            </div>
            <div class="mt-4" *ngIf="nearbyAddresses.length">
                <h6>Nearby addresses</h6>
                <div class="row">
                    <div
                        *ngFor="let nearby of nearbyAddresses"
                        class="col-md-4 p-2"
                    >
                        <a
                            [routerLink]="['/address', nearby.id]"
                            class="card-link"
                        >
                            <div class="card h-100 card-flex">
                                <div class="title">{{ nearby.address }}</div>
                                <div class="mt-3 text-info small">
                                    {{ nearby.distance.text }}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
